.list-group {
    position: absolute;
    top: 37px;
    z-index: 100;
    max-height: 300px;
    overflow: hidden;
    overflow-y: scroll;
    border: 1px solid gainsboro;
    border-radius: 0 0 4px 4px;
}

.list-group .list-group-item:hover {
    background: gainsboro;
}

.list-group-item {
    border-left: 0;
    border-right: 0;
    border: 0 !important;
}

.list-group::-webkit-scrollbar {
    width: 10px;
}

.list-group::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.list-group::-webkit-scrollbar-thumb {
    background: #e0e0e0; 
}

.list-group::-webkit-scrollbar-thumb:hover {
    background: #555; 
}