body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header-container {
    height: 56px;
}

.header-navbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.container-page {
    max-width: 800px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
}