html {
    background: gray;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: gainsboro;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clear {
    background-image: url( './clouds-imgs/clear-sky.jpg' ) !important;
    opacity: 1 !important;
}

.thunderstorm {
    background-image: url( './clouds-imgs/thunderstorm.jpg' ) !important;
    opacity: 1 !important;
}

.clouds {
    background-image: url( './clouds-imgs/few-clouds.jpg' ) !important;
    opacity: 1 !important;
}

.rain {
    background-image: url( './clouds-imgs/rain.jpg' ) !important;
    opacity: 1 !important;
}

.mist, .haze {
    background-image: url( './clouds-imgs/mist.jpg' ) !important;
    opacity: 1 !important;
}

.snow {
    background-image: url( './clouds-imgs/snow.jpg' ) !important;
    opacity: 1 !important;
}

.header-navbar, .footer-navbar {
    width: 100%;
    max-width: 800px !important;
    left: 50%;
    transform: translateX(-50%);
}

.app-body {
    height: 100vh;
    width: 100%;
    max-width: 800px !important;
}

.weather-img {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
    border: 1px solid gainsboro;
    border-radius: 4px;

    background: white;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0;
    transition: 0.5s ease-in-out all;
}